body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    padding: 0;
    margin-left: 48px;
}

.hero {
    background-color: #1f2937;
    padding: 48px 20px;
    display: flex;
    gap: 56px;
    justify-content: center;
    height: fit-content;
}

.quad {
    display: flex;
    flex-direction: column;
    padding: 128px 48px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.quote {
    background-color: #e5e7eb;
    padding: 128px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.content {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 400px;
    gap: 8px;
}

.quad-wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
    justify-content: center;
}

.quad .content {
    display: flex;
    max-width: 200px;
    align-items: center;
}

.buttons {
    margin-top: 12px;
    display: flex;
    gap: 12px;
}

h1 {
    margin: 0;
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

h2 {
    margin: 0;
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.hero p {
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.quad p {
    margin: 0;
    font-size: 16px;
    color: #1f2937;
}

.quote p {
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

#author {
    display: flex;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    justify-content: flex-end;
}

.cta {
    margin: 0;
}

.modal {
    margin: 0;
}

ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin-right: 48px;
    display: flex;
    font-size: 14px;
    gap: 24px;
}

button {
    background-color: #3882f6;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 28px;
    border-radius: 8px;
}

.image img {
    height: 400px;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

.quad img {
    height: auto;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    align-items: center;
}
